# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
Debug/
Release/
x64/
x86/
build/
out/
bin/
obj/

*.obj
*.o
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.idb
*.exp
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
screenshots/*
!screenshots/.gitkeep
assets/temp/

DirectX .7c2c0eac/
Thumbs.db
Desktop.ini